h1{
	font-size:2em;
}
#bar{
	height:70px;
	background-color:rgb(50,90,140);
	color:red;
	padding:5px;
    } 
	#signup button{
		background-color:yellow;
		width:60%;
		text-align:center;
		padding:6px;
		border-radiu:10px;
		float:right;
	}
h2{
	font-size:2em;
	color:#ffff00;
font-family:arial;
border:10px dotted pink;
text-align:center;
border-radius:25px;
}
body{
	background-color:#fffff;
	color:blue;
	font-size:2em;
}
img{
	width:6vmin;
	height:16cm;
}
